<h2>Edit Doctor</h2>

<form action="/admin/edit-doctor/<%= doctor._id %>" method="POST">

    <label>Name</label>
    <input type="text" name="name" value="<%= doctor.name %>" required>

    <label>Department</label>
    <input type="text" name="department" value="<%= doctor.department %>" required>

    <label>Max Patients</label>
    <input type="number" name="maxPatientsPerDay" value="<%= doctor.maxPatientsPerDay %>" required>

    <label>Consult Time (min)</label>
    <input type="number" name="avgConsultTime" value="<%= doctor.avgConsultTime %>" required>

<h3>OPD Days</h3>

<label><input type="checkbox" name="opdDays" value="Mon" <%= doctor.opdDays.includes("Mon") ? "checked" : "" %>> Mon</label>
<label><input type="checkbox" name="opdDays" value="Tue" <%= doctor.opdDays.includes("Tue") ? "checked" : "" %>> Tue</label>
<label><input type="checkbox" name="opdDays" value="Wed" <%= doctor.opdDays.includes("Wed") ? "checked" : "" %>> Wed</label>
<label><input type="checkbox" name="opdDays" value="Thu" <%= doctor.opdDays.includes("Thu") ? "checked" : "" %>> Thu</label>
<label><input type="checkbox" name="opdDays" value="Fri" <%= doctor.opdDays.includes("Fri") ? "checked" : "" %>> Fri</label>
<label><input type="checkbox" name="opdDays" value="Sat" <%= doctor.opdDays.includes("Sat") ? "checked" : "" %>> Sat</label>
<label><input type="checkbox" name="opdDays" value="Sun" <%= doctor.opdDays.includes("Sun") ? "checked" : "" %>> Sun</label>


    <button type="submit">Update Doctor</button>
</form>
