<h2>Edit Doctor</h2>

<form action="/admin/edit-doctor/<%= doctor._id %>" method="POST">

    <label>Name</label>
    <input type="text" name="name" value="<%= doctor.name %>" required>

    <label>Department</label>
    <input type="text" name="department" value="<%= doctor.department %>" required>

    <label>Max Patients</label>
    <input type="number" name="maxPatientsPerDay" value="<%= doctor.maxPatientsPerDay %>" required>

    <label>Consult Time (min)</label>
    <input type="number" name="avgConsultTime" value="<%= doctor.avgConsultTime %>" required>

    <button type="submit">Update Doctor</button>
</form>
